html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
dialog,
div,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #000;
}

ul,
ol {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/***************************/

:root {
  --orange: #fe142f;
  --gris-fonce: rgb(35, 35, 35);
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: #fff;
  font-family: var(--font-default);
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-header {
  min-height: clamp(90px, 0.125vw, 240px);

  display: flex;
  justify-content: space-between;

  padding-left: clamp(50px, 7vw, 135px);
  padding-right: clamp(25px, 3.5vw, 70px);
  padding-top: clamp(25px, 3.5vw, 70px);
  padding-bottom: clamp(40px, 5.5vw, 105px);
}

.app-header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  /*
  background-color: blue;
  */
  aspect-ratio: 285 / 60;
}

.app-header-navbar {
  /* liste des elemets de menu */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul-navbar {
  display: flex;
  flex-direction: row;
  gap: clamp(0, 1vmin, 8px);
}

.li-navbar {
  float: left;
}

.link {
  --color: #000;
  --bg: transparent;
  --decoration: none;
  --underline-color: transparent;

  padding: 8px 12px;
  padding-top: clamp(8px, 1vw, 16px);

  border-radius: 8px;
  background-color: var(--bg);
}

.link span {
  color: var(--color);
  font-size: clamp(10px, 1.5vw, 2rem);
  border-bottom: 1px solid var(--underline-color);
  padding-bottom: 0;
  padding-left: 1px;
  padding-right: 1px;
}

.link:hover {
  --color: #fff;
  --bg: var(--orange);
  --underline-color: #fff;
}

.burger-icon {
  display: none;
}

.active {
  display: none;
}

/** fin header **/

.app-main {
  margin-left: 7vw;
  margin-right: 7vw;
  aspect-ratio: 1240 / 660;
}

.hero-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100%;
  background-color: var(--gris-fonce);
  border-radius: 8px;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.hero-section-content {
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr;
  z-index: 20;
}

.hero-headline {
  font-size: clamp(4rem, 6.6vw, 128px); /* 96px / 1440px */
  font-weight: normal;
  white-space: nowrap;
  padding: clamp(30px, 4vw, 80px); /** 60px / 1440px **/
}

.hero-section-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 30px;
  padding-left: clamp(29px, 4vw, 75px); /** 56 / 1440 **/
  padding-bottom: 60px;
}

.hero-text {
  width: 35%;
  font-size: clamp(1.5rem, 1.6vw, 2rem); /** 24px 1440 **/
}

.btn-modale {
  position: static;
  display: block;
  width: clamp(150px, 14vw, 240px);
  max-height: 65px;

  padding: clamp(6px, 0.8vw, 16px) 0;
  border: 0;
  border-radius: 7px;

  font-size: clamp(1rem, 1.6vw, 2rem);
  background: var(--orange);
  color: #fff;
  cursor: pointer;
  aspect-ratio: 200 / 55;
}

.btn-signup {
  position: absolute;
  bottom: clamp(20px, 2vw, 60px);
  left: clamp(30px, 4vw, 80px);
  z-index: 30;
}

.btn-modale:hover {
  background: #3876ac;
}

.hero-section-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 10;
}

.img-carre {
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  aspect-ratio: 355 / 330;
}

/** debut modale **/

.modale-bg {
  --alpha: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100vw;
  height: 200vh;
  overflow: hidden;

  padding: 0;
  margin: 0;
  z-index: 150;

  background-color: rgba(255, 255, 255, var(--alpha));
}

.modale {
  position: absolute;
  top: 120px;
  left: calc(50% - 225px);

  width: 450px;
  min-height: 80vh;
  border-radius: 8px;

  background: #232323;
  color: #fff;

  animation-name: modalopen;
  animation-duration: 1s;
}

.modale-hide {
  display: none !important;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-family: var(--font-default);
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}
input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}
.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}
.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.checkbox2-label .checkbox-icon::after {
  width: 12px;
  height: 8px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.btn-submit {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

/** fin modale **/

.app-footer {
  background-color: #fff;
  height: clamp(90px, 0.125vw, 240px);
  padding-left: min(3vw, 40px);
  padding-bottom: min(4.5vw, 60px);
  padding-top: min(7.5vw, 100px);
}

.copyrights {
  color: var(--orange);
  font-size: clamp(8px, 1vw, 1.25rem);
  font-weight: bolder;
}

/** MOBILE **/
@media screen and (max-width: 768px) {
  .app-header {
    position: sticky;
    top: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 200;
    background-color: #fff;
    /*
    padding-left: clamp(50px, 7vw, 135px);
  padding-right: clamp(25px, 3.5vw, 70px);
  padding-top: clamp(25px, 3.5vw, 70px);
  padding-bottom: clamp(40px, 5.5vw, 105px);
  */
  }
  .app-header-logo {
    /*
    background-color: blue;
    */
    width: clamp(110px, 26vmin, 300px);
    aspect-ratio: 110 / 30;
  }

  .ul-navbar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #fff;
    width: 100%;
  }

  .li-navbar:not(:last-child) {
    display: none;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .link span {
    font-size: clamp(16px, 4vmin, 28px);
  }

  .burger-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    width: fit-content;
    padding: 1rem;
    color: var(--orange);
    font-size: clamp(16px, 4vmin, 2rem);
    text-align: right;
  }

  .burger-icon:hover {
    color: #fff;
    background-color: var(--orange);
  }

  .li-show {
    display: block !important;
  }

  /** **/
  .hero-section {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
  }

  .hero-section-content {
    display: flex;
    flex-direction: column;
    color: #000;
  }

  .hero-headline {
    font-size: clamp(1.5rem, 9.6vmin, 74px); /* 40px => 415px */
    padding: 0;
    white-space: normal;
    /*
    font-size: clamp(4rem, 6.6vw, 128px); 
    font-weight: normal;
    white-space: nowrap;
    padding: clamp(30px, 4vw, 80px); 
    */
  }

  .hero-section-txt {
    padding: 0;
    padding-top: 17px;
    /*padding-right: clamp(29px, 4vw, 75px);*/
    padding-bottom: 30px;
  }

  .hero-text {
    width: 100%;
    font-size: clamp(0.8rem, 3vw, 1.5rem);
  }

  .hero-section-img {
    position: static;
  }

  .img-carre {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .btn-signup {
    position: static;
    margin: auto;
    margin-top: 30px;
    padding: 1rem 2rem;
  }

  .app-footer {
    margin: auto;
    padding-top: min(4vw, 40px);
  }

  .copyrights {
    font-size: clamp(10px, 2.5vmin, 18.5px);
  }
}
